/* Element styling */
button {
    color: #FFF;
    background-color: #cda61c;
    border: 1px solid #ba951c;
    padding: 5px 10px;
}

button:hover {
    background-color: #ba951c;
}

/* Bootstrap overrides */
.row.no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/*.container-fluid {*/
    /*height: auto;*/
    /*width: 100%;*/
    /*position: absolute;*/
    /*top: 100px;*/
    /*bottom: 0;*/
    /*overflow: auto;*/
/*}*/

.name {
    font-family: Montserrat, 'sans-serif';
    font-size: 3.25rem;
    color: #171818;
    display: block;
    letter-spacing: -.02rem;
    line-height: 1;
    margin-top: .52rem;
    margin-left: 30rem;
}

.navitems {
    font-family: Montserrat, 'sans-serif';
    font-size: 2rem;
    color: #171818;
    display: block;
    float: left;
    letter-spacing: -.02rem;
    line-height: 1;
    margin-top: .40rem;
    margin-right: 30rem;
}

.navbar-nav li a,
.name {
    line-height: 85px;
    padding-top: 0;
}

.navbar {
    margin-bottom: 0;
    height: 100px;
    overflow: hidden;
}

.navbar-brand {
    position: relative;
    top: -44px;
}

.login-box {
    text-align: center;
    background-color: rgba(252, 255, 104, 0.5);
    border: 5px solid black;
    padding: 15px;
    margin: 20px;
}

.login-box button {
    width: 100%;
    max-width: 200px;
    font-size: 25px;
}

.login-box p {
    margin: 20px;
    font-weight: bold;
    color: black;
    font-size: 18px;
    font-family: Verdana, sans-serif;
}

#map {
    width: 100%;
    min-height: 500px;
    height: 100%;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
}

.btn-success {
    color: #fff;
    background-color: #0f3b8c;
    border-color: #0f3b8c;
}