 .name {
    font-family: Montserrat, 'sans-serif';
    font-size: 3.25rem;
    color: #171818;
    display: block;
    letter-spacing: -.02rem;
    line-height: 1;
    margin-top: .52rem;
    margin-left: 30rem;
}
 .navbar-inner {
    min-height: 0px;
}

.navitems {
    font-family: Montserrat, 'sans-serif';
    font-size: 2rem;
    color: #171818;
    display: block;
    float: left;
    letter-spacing: -.02rem;
    line-height: 1;
    margin-top: .40rem;
    margin-right: 30rem;
}
 .navbar-nav li a,
.name{
    line-height: 85px;
    padding-top: 0;
}
 .navbar {
    margin-bottom: 0;
    height: 100px;
}