 .name {
    font-family: Montserrat, 'sans-serif';
    font-size: 3.25rem;
    color: #171818;
    display: block;
    letter-spacing: -.02rem;
    line-height: 1;
    margin-top: .52rem;
    margin-left: 30rem;
}
 .navbar-inner {
    min-height: 0px;
}

.navitems {
    font-family: Montserrat, 'sans-serif';
    font-size: 2rem;
    color: #171818;
    display: block;
    float: left;
    letter-spacing: -.02rem;
    line-height: 1;
    margin-top: .40rem;
    margin-right: 30rem;
}
 .navbar-nav li a,
.name{
    line-height: 85px;
    padding-top: 0;
}
 .navbar {
    margin-bottom: 0;
    height: 100px;
}

 .navbar-brand {
     position: absolute;
     top: -44px;

 }

 .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: white;
     color: black;
     text-align: left;
     box-shadow: 1px 1px 5px #555 inset;
 }


 .transbox {
    position: absolute;
    text-align: center;
    display: table;
    margin: auto;
    width: 100%;
     top: 30%;
 }

 .transbox p {
     margin: 5%;
     font-weight: bold;
     color: #FFFFFF;
     font-size:18px;
     font-family: Verdana;
 }

 html {
  background: url(riodejaneiro.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}