{% extends 'index/base.html' %}
{% load staticfiles %}
{% block head %}
    <!--[if lte IE 8]>
    <script src="{% static 'js/excanvas.js' %}"></script>
<![endif]-->
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <div id="map"></div>
            <script>

                function initMap() {

                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 3,
                        center: {lat: -25.45, lng: -54.833}
                    });

                    // Create an array of alphabetical characters used to label the markers.
                    var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

                    // Add some markers to the map.
                    // Note: The code uses the JavaScript Array.prototype.map() method to
                    // create an array of markers based on a given "locations" array.
                    // The map() method here has nothing to do with the Google Maps API.
                    var markers = locations.map(function (location, i) {
                        return new google.maps.Marker({
                            position: location,
                            label: labels[i % labels.length]
                        });
                    });

                    // Add a marker clusterer to manage the markers.
                    var markerCluster = new MarkerClusterer(map, markers,
                        {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
                }

                var locations = [
                    {lat: 2.833, lng: -60.7},//Brazil
                    {lat: 2.067, lng: -50.85},//Brazil
                    {lat: 0.033, lng: -51.05},//Brazil
                    {lat: 0.05, lng: -51.067},//Brazil
                    {lat: -3.033, lng: -60.05},//Brazil
                    {lat: -1.383, lng: -48.483}, //Brazil
                    {lat: -2.433, lng: -54.717}, //Brazil

                    {lat: -25.25, lng: -57.517}, //Paraguay
                    {lat: -25.45, lng: -54.833}, //Paraguay
                    {lat: -25.75, lng: -56.433}, //Paraguay

                    {lat: -22.1, lng: -65.6},//Argentina
                    {lat: -23.15, lng: -64.316},//Argentina
                    {lat: -22.65, lng: -63.817},//Argentina
                    {lat: -24.383, lng: -65.083},//Argentina
                    {lat: -24.85, lng: -65.483},//Argentina
                    {lat: -24.7, lng: -60.583}, //Argentina
                    {lat: -25.733, lng: -54.467} //Argentina
                ]
            </script>
            <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
            </script>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgtKdwvX-RrZgkJL9UDZzOXKPk037ROcs&callback=initMap">
            </script>
        </div>
        <div class="col-xs-12 col-md-6">
            <canvas id="mainland-charts" width="500" height="500"></canvas>

            <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
            <script type="text/javascript">
                $.get('{% url 'line_chart_json' %}', function (data) {
                    var ctx = $("#mainland-charts").get(0).getContext("2d");
                    new Chart(ctx, {
                        type: 'line',
                        data: data,
                        options: {
                            responsive: false
                        }
                    });
                });
            </script>
        </div>
    </div>
{% endblock %}